*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Shared Styles*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn
{
    background-color: #469165;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #367c52;
}
.logo img
{
    cursor: pointer;
}
/*main styles*/

header{
    background-color: #FFFFFF;
}

nav
{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;
}
nav .menu
{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner
{
    padding: 115.5px 120px 179.5px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#banner .banner-content
{
    max-width: 1360px;
}
#banner .banner-content h1{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 72px;
    font-weight: 700;
}
#banner .banner-content p{
   margin-bottom: 32px;
   width: 588px;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   color: #FFFFFF;
}
#banner .btn-2
{
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background-color: FFFFFF;
    color:#469165;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
}

